# Ignore node_modules folder
node_modules

# Ignore build output
/.next

# Ignore development files
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Ignore build cache
/.next/cache
/.next/server
/.next/static
/.next/webpack
/.next/image

# Ignore logs
logs
*.log

# Ignore editor and IDE files
.vscode
.idea
*.iml
*.ipr
*.iws

# Ignore package manager lock files
yarn.lock
package-lock.json
npm-shrinkwrap.json

# Ignore test coverage reports
/coverage

# Ignore build artifacts
/out
/dist
/build
